.post {
  margin-bottom: 3rem;
  cursor: pointer;

  &:hover {
    p {
      color: var(--gray-medium);
    }
    h1 {
      color: var(--pink);
    }

    .infoGroup .dateGroup {
      time {
        color: var(--pink);
      }

      .IconCalendar {
        color: var(--pink);
      }
    }

    .infoGroup .authorGroup {
      span {
        color: var(--pink);
      }

      .IconUser {
        color: var(--pink);
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.118rem;
    margin-bottom: 0.5rem;
    color: var(--gray-light);
    transition: color 0.2s;
  }
  p {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--gray-subtitle);
    line-height: 1.361rem;
    margin-bottom: 1.5rem;
  }

  .infoGroup {
    display: flex;
    flex-direction: row;

    .dateGroup {
      display: flex;
      flex-direction: row;
      time {
        display: block;
        font-size: 0.875rem;
        color: var(--gray-medium);
        line-height: 1.059rem;
        font-weight: 400;
        margin-left: 0.5rem;
        transition: color 0.2s;
      }

      .IconCalendar {
        transition: color 0.2s;
      }
    }

    .authorGroup {
      display: flex;
      flex-direction: row;
      margin-left: 1.5rem;

      span {
        display: block;
        font-size: 0.875rem;
        color: var(--gray-medium);
        line-height: 1.059rem;
        font-weight: 400;
        margin-left: 0.5rem;
        transition: color 0.2s;
      }

      .IconUser {
        transition: color 0.2s;
      }
    }
  }
}
